/* Estilos padrões */

.conteudo {
    position: relative;
    display: flex;
    align-items: flex-start;
    justify-content: flex-end;
}

.background {
    height: 100vh;
    position: absolute;
    left: 0;
}

.info {
    width: 60%;
    margin-right: 90px;
    margin-top: 40px;
    color: #fff;
}

input {
    border: 1px solid #999999;
    border-radius: 22px;
    color: #fff;
    min-width: 250px;
    width: 85%;
    margin-right: 12px;
    background: transparent;
    font-size: 18px;
    padding: 10px;
}

button {
    border: 1px solid #999999;
    border-radius: 22px;
    color: #fff;
    margin-right: 12px;
    background: #203338;
    font-size: 18px;
    padding: 10px;
}

.perfil {
    display: flex;
    margin: 40px 0;
}

.profile {
    width: 120px;
    height: 120px;
    border-radius: 60px;
    border: 2px solid #E5E5E5;
    margin-right: 32px;
}

.perfil h3 {
    color: #999999;
    font-size: 24px;
    margin: 0;
}

.perfil span {
    display: block;
    color: #999999;
    font-size: 12px;
    margin: 0;
}

.perfil p {
    color: #999999;
    font-size: 12px;
    margin: 20px 0;
}

/* Media Query para dispositivos com largura máxima de 600px */

@media (max-width: 600px) {
    .conteudo {
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .info {
        width: 90%;
        margin-right: 0;
        margin-top: 20px;
    }

    input, button {
        min-width: 100%; /* Ajuste para um tamanho adequado em telas menores */
        width: 100%; /* Faz com que o input e o botão ocupem toda a largura disponível */
        font-size: 16px; /* Reduz o tamanho da fonte para melhor ajuste em dispositivos menores */
        padding: 8px; /* Ajusta o padding para um tamanho mais apropriado */
    }

    button{
        margin-top: 10px;
        background: #203338;
    }

    .perfil {
        flex-direction: column;
        align-items: center;
        margin: 20px 0; /* Reduz a margem vertical para ajustar o layout em telas pequenas */
    }

    .profile {
        width: 100px;
        height: 100px;
        margin-right: 0;
        margin-bottom: 20px;
    }

    .perfil h3 {
        font-size: 20px;
    }

    .perfil span, .perfil p {
        font-size: 10px;
    }
}
